---
title: AirBnB Team
---
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Meet our Team</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
          <div class="card-category">Paris</div>
          <div class="card-description">
            <h2>CTO</h2>
            <p>Our Technical expert</p>
          </div>
          <%= image_tag "seb.jpg", class: "card-user avatar avatar-large" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
          <div class="card-category">Brussels</div>
          <div class="card-description">
            <h2>CMO</h2>
            <p>Our PR lady</p>
          </div>
          <%= image_tag "anne.jpg", class: "card-user avatar avatar-large" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <div class="card-category">London</div>
          <div class="card-description">
            <h2>COO</h2>
            <p>The man the makes it all happen</p>
          </div>
          <%= image_tag "romain.jpeg", class: "card-user avatar avatar-large" %>
        </div>
      </div>
    </div>
  </div>
</div>
